**/node_modules
**/.pnp
**/dist
**/.cache
**/client/dist
**/Ganache
**/filters.txt
**/CURLchecks.txt
**/0_CodeExamples
**/data
**/.ipynb_checkpoints

.pnp.js

# testing
**/coverage

# production
**/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
