

body {
  background-color:#051119;
  color:#d59b00;
}


div::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: #07131C;        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: #d59b00;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #d59b00;  /* creates padding around scroll thumb */
}

.root {}
.topcont {}
.bottomcont {}

.grid-container {
  width:100%;
  display: inline-block;
  background-color: inherit;
  padding:2px;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  display:inline-block;
  vertical-align: top;
}

.bg-border {
  background-image: linear-gradient(#0C2334, #07131C, #0C2334);
  border: 2px;
  border-style:outset;
  border-color: #06385E;
  border-radius:4px;
}

.output {
  height:600px;
  width:91%;
  color:inheret;
  font-size:16pt;
  text-align:left;
  display:inline-block;

  overflow:auto;
}

.tweet {
  padding: 2px;
}

.filepath {
  width: 35%;
  margin 0px;
  padding-top:7px;
  padding-bottom:8px;
  display:inline-block;
}

.streamlimits {
    height:78px;
    width:70%;
    font-size:14pt;
    color:inherit;
}

.sessioninfo {
  padding: 5px;
  font-size: 20px;
}

.buttons {
    width:50%;
    height:78px;
    margin: 0px 0px 0px 0px;
    padding: 5px 40px 5px 40px;
    color:inherit;
    display:inline-block;

}

.inputs {
  width:91%;
  margin: 0px 25px 0px 0px;
  padding-bottom:10px;
}

.inputbox {
  width:95%;
  height:28px;
  font-size:18px;
  padding: 2px 2px 2px 2px;
  background-color:#0C2334;
  border-style:inset;
  color:inherit;
  outline-color:orange;
}

.button {
  background-color:#0C2334;
  padding: 5px 25px 5px 25px;
  margin-top: 20px;
  font-size:18px;
  color:inherit;
}

.rotate1 {
  margin-top:20px;
  transform: rotate(45deg);
  font-size:28px;
}

.rotate2 {
  position:relative;
  top:75px;
  transform: rotate(45deg);
  margin-top:20px;
  font-size:28px;
}

.rotate3 {
  position:relative;
  top:300px;
  transform: rotate(50deg);
  margin-top:20px;
  font-size:22px;

}

.sideTitleParams {
  width:10%;
  margin:0px;
  display:inline-block;
}
